<html>
<body background = "background.jpg">
  <style>
  .button {
      background-color: #000000; /* Green */
      border: none;
      color: #EFEFEF;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
  </style>
  <font face="Arial" color = "#EFEFEF" size = "5" > Adhaar id:{{adhaarid}} <br>
  Name: {{name}} <br>
  Age: {{age}} <br>
  Gender: {{gender}} <br>
  Date of birth: {{dob}} <br></font>
  <p><a href="adhaar_home.html"><div class="button">Go To Adhaar Portal</div></a></p><br>
  <font face="Arial" color = "#EFEFEF" size = "5" ><p>We have detected you have a driving license<p><br></font>
  <form action="/dl_details" method="post">
    <input type="submit" value="Check for driving license details"/>
    <input type="hidden" name="adhaarid" value={{adhaarid}} />
  </form>
</body>
</html>
