<html>
<body>
  {{adhaarid}} <br>
  {{name}} <br>
  {{age}} <br>
  {{gender}} <br>
  {{dob}} <br>
  <p><a href="adhaar_home.html"><button>Go To Adhaar Portal</button></a></p><br>
  <p>We have detected you have a driving license<p><br>
  <form action="/dl_details" method="post">
    <input type="submit" value="Check for driving license details"/>
    <input type="hidden" name="adhaarid" value={{adhaarid}} />
  </form>
</body>
</html>
